[Desktop Entry]
Name=cin
Comment=MultiMedia Editor
Comment[fr]=Éditeur multimédia
Categories=AudioVideo;AudioVideoEditing;X-Multimedia;
Exec=cin
Icon=cin
Terminal=false
Type=Application
