Source: cin
Section: video
Priority: optional
Standards-Version: 5.1.20190131
Maintainer: mailing list <cin@lists.cinelerra-gg.org>
Homepage: https://www.cinelerra-gg.org/
Build-Depends: nasm, yasm, g++, gdb, build-essential, e2fsprogs,
 libz-dev, liblzma-dev, libbz2-dev, exuberant-ctags,
 libxft-dev, libxinerama-dev, libxv-dev, linux-firmware,
 freeglut3-dev, libxv-dev, libasound2-dev,
 libncurses5-dev, libxinerama-dev, libfreetype6-dev, libxft-dev,
 ttf-bitstream-vera, xfonts-75dpi, xfonts-100dpi, fonts-dejavu,
 libflac-dev, inkscape, texinfo, libpng-dev,
 cmake, udftools, libxml2-utils, git, gettext, libtool,
 autoconf, automake

Package: cin
Depends: ${misc:Depends}
Description: Multimedia editing and construction
Architecture: any

